<div class="comment-title"> <%= @title.title %> </div>
<% @comments.each do |comment| %>

  <div class="zone">
    <div class="left-zone"></div>
    <div class="right-zone">
      <div class="comme"><%= comment.comment %></div>
      <div class="user">by<%= comment.user.nickname %></div>
      <div class="time"><%= l comment.created_at %></div>
    </div>
  </div>

  <div class="zone">
    <div class="left-zone">
      <div class="reply">
      <% leng = comment.comment.length %>
      <% if leng <= 10 %> ありがとうございました！
      <% elsif leng <= 20 %> もう少し詳しくお聞きしても良いでしょうか？
      <% elsif leng <= 25 %> なぜでしょうか
      <% elsif leng <= 30 %> 続けて下さい。
      <% elsif leng <= 40 %> なるほど。実に興味深いです。
      <% elsif leng <= 50 %> あなたは、そう思われるということですね。
      <% elsif leng <= 60 %> 結論、どういうことでしょうか
      <% else %> 
      落ち着いて考えてみて下さい。
      <% end %>
      </div>
    </div>
    <div class="right-zone"></div>
  </div>
<% end %>

  <div class="zone">
    <div class="left-zone"></div>
    <div class="right-zone">
      <%= form_with model: [@title, @comment], url:liberty_title_comments_path, local: true do |f| %>
        <div class="form-input">
          <%= f.text_area :comment, class: 'form-comment', placeholder: 'type a message', rows: 5 %>
        </div>
        <%= f.submit '我思う故に我送信', class: 'form-submit' %>
      <% end %>
    </div>
  </div>
