<!DOCTYPE html>
<html>
  <head>
    <title>Philopp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='top-bar'>
      <div class='left-bar'><%= breadcrumbs separator: " &rsaquo; " %></div>
      <div class='right-bar'>
        <div class='lists-right'>
          <% if user_signed_in? %>
            <div><%= link_to current_user.nickname, user_session_path, class: "user-nickname" %></div>
            <div><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></div>
          <% else %>
            <div><%= link_to 'ログイン', new_user_session_path, class: "login" %></div>
            <div><%= link_to '新規登録', new_user_path, class: "sign-up" %></div>
          <% end %>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
